{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "firefox 60",
            "chrome 67"
          ]
        },
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "props.createElement"
      }
    ]
  ]
}